/* Comment out reset for testing 
.trailblazer-badge, .trailblazer-icon {
    all: unset !important;
}
*/

.trailblazer-badge {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 5px !important;
    width: 50px !important;
    height: 50px !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.trailblazer-icon {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.badges-box {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 10px !important;
}
